In [1]:
import pandas as pd
import numpy as np

In [2]:
%cd C:\Users\Dell\Downloads

C:\Users\Dell\Downloads

In [3]:
df=pd.read_csv('day.csv')

In [4]:
df.head()

,instant,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,01-01-2018,1,0,1,0,1,1,2,14.110847,18.18125,80.5833,10.749882,331,654,985
1,2,02-01-2018,1,0,1,0,2,1,2,14.902598,17.68695,69.6087,16.652113,131,670,801
2,3,03-01-2018,1,0,1,0,3,1,1,8.050924,9.47025,43.7273,16.636703,120,1229,1349
3,4,04-01-2018,1,0,1,0,4,1,1,8.200000,10.60610,59.0435,10.739832,108,1454,1562
4,5,05-01-2018,1,0,1,0,5,1,1,9.305237,11.46350,43.6957,12.522300,82,1518,1600

In [5]:
df.dtypes

instant         int64
dteday         object
season          int64
yr              int64
mnth            int64
holiday         int64
weekday         int64
workingday      int64
weathersit      int64
temp          float64
atemp         float64
hum           float64
windspeed     float64
casual          int64
registered      int64
cnt             int64
dtype: object

In [6]:
df['dteday'] = pd.to_datetime(df['dteday'],
 errors = 'coerce')

In [7]:
df['Date_year'] = df['dteday'].dt.year
df['Date_month'] = df['dteday'].dt.month
df['Date_week'] = df['dteday'].dt.week
df['Date_day'] = df['dteday'].dt.day

In [8]:
del df['dteday']

In [9]:
df.dtypes

instant         int64
season          int64
yr              int64
mnth            int64
holiday         int64
weekday         int64
workingday      int64
weathersit      int64
temp          float64
atemp         float64
hum           float64
windspeed     float64
casual          int64
registered      int64
cnt             int64
Date_year       int64
Date_month      int64
Date_week       int64
Date_day        int64
dtype: object

In [10]:
df.isna().sum()

instant       0
season        0
yr            0
mnth          0
holiday       0
weekday       0
workingday    0
weathersit    0
temp          0
atemp         0
hum           0
windspeed     0
casual        0
registered    0
cnt           0
Date_year     0
Date_month    0
Date_week     0
Date_day      0
dtype: int64

In [11]:
df.shape

(730, 19)

In [12]:
from sklearn.model_selection import train_test_split

In [13]:
import matplotlib.pyplot as plt
from sklearn.metrics import r2_score,mean_squared_error
from sklearn.linear_model import LinearRegression
from sklearn.feature_selection import RFE
import warnings
warnings.filterwarnings('ignore')
%matplotlib inline

In [14]:

df_train, df_test = train_test_split(df, test_size = 0.2,random_state=2)

In [15]:
df_train.reset_index(drop=True,inplace=True)
df_test.reset_index(drop=True,inplace=True)

In [16]:
x_train=df_train.drop(["cnt"],1)
y_train=df_train["cnt"]
x_test=df_test.drop(["cnt"],1)
y_test=df_test["cnt"]

In [17]:
from sklearn.linear_model import LinearRegression, Lasso, Ridge

In [18]:
lm=LinearRegression()

In [19]:
lm.fit(x_train,y_train)

LinearRegression()

In [20]:
import sklearn.metrics as met

In [21]:
met.mean_squared_error(y_test,lm.predict(x_test))

1.8711597396760857e-24

In [22]:
met.mean_squared_error(y_train,lm.predict(x_train))

2.0652121092292084e-24

In [23]:
from sklearn.metrics import r2_score

In [24]:
r_sq_train=r2_score(y_train,lm.predict(x_train))

In [25]:
r_sq_train

1.0

In [26]:
n=x_train.shape[0]
p=x_train.shape[1]
adj_rsq=1- ((1-r_sq_train) * (n-1)/(n-p-1))

In [27]:
adj_rsq

1.0

In [29]:
prediction=lm.predict(x_test)

In [31]:
submission=pd.DataFrame(list(zip(list(prediction))),
                       columns=['cnt'])

In [32]:
submission.to_csv('Sample.csv',index=False)

In [33]:
pd.read_csv('Sample.csv')

        cnt
0    5847.0
1    4541.0
2    3117.0
3    3820.0
4    1712.0
..      ...
141  5305.0
142  5585.0
143  6639.0
144  6855.0
145  5409.0

[146 rows x 1 columns]